.section {
  width: 100%;
  background-color: #e9ecef;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.about-title {
  margin-bottom: 20px;
}

.testimony-wrapper {
  display: flex;
  justify-content: center;
}

.figure-wrapper {
  width: 180px;
}
